.App {
min-height : 100vh;
display: flex;
flex-direction: column;
}

.top-bar {
  background-color: #001148;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  box-sizing: border-box;
}

.title {
  font-size: 24px;
  font-weight: bold;
  color:red;
  margin:0; 
}

.role-select{
  padding: 6px 10px;
  border-radius: 4px;
  border: 1px solid #acc;
  font-size: 16px;
}

.content{
  flex:1;
  padding: 30px;
  box-sizing: border-box;
  font-size: 24px;
}

.form{
  display:flex;
  align-items: center;
  border: 1px solid #412626;
  border-radius : 25px;
  padding: 10px;
}

#search-input{
  width: 200px;
  border: groove;
  padding: 8px;
  font-size: 16px;
  outline: none;
  flex-grow: 1;
}

button[type=submit]{
  background-color: #001148;
  color:rgb(255, 255, 255);
  border:none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 5px;
}

button[type = submit]{
  background-color: rgb(159, 31, 31) ;
}


.Top-Horziontal-Boxes{
  display:flex;
  gap:10px;
  margin-top:20px;
}


.Top-Box{
  width:200px;
  height:200px;
  background-color: light grey;
  border: 2px solid black;
  padding-left: 5px ;
  padding-top: 5px;
  margin: 10px;
}




.footer{
  text-align: center;
  padding: 10px;
  background-color: #f2f2f2;
  font-size: 12px;
}